-r requirements_dev.txt
pytest-homeassistant
pytest-homeassistant-custom-component
victron_ble @ git+https://github.com/notjj/victron-ble
bleak_retry_connector
serial
pyserial
bluetooth_adapters
bluetooth_sensor_state_data
