-r requirements_dev.txt
aiohttp
aiohttp-cors
home-assistant-bluetooth
pytest-homeassistant-custom-component
victron_ble @ git+https://github.com/notjj/victron-ble
bleak_retry_connector
serial
pyserial
pyudev
aiousbwatcher
bluetooth_adapters
bluetooth_auto_recovery
bluetooth_data_tools
bluetooth_sensor_state_data
